<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card-columns">
        <div class="card" *ngFor="let card of game.cards">
          <a class="card-link"
             style="cursor: pointer"
             (click)="!card.found && !card.flipped && !isTimeOut ? onClick(card) : null"
          >
            <img class="card-img-top" src="{{ card.flipped ? card.img : card.backImg }}" alt="{{ card.flipped ? card.img : card.backImg  }}">
          </a>
        </div>
        <div class="card" style="border-color: white;">
            <h5>Your Score: {{ game.score }}</h5>
            <h3>Best Score: {{ bestScore }}</h3>
        </div>
        <div class="card" style="border-color: white" *ngIf="gameEnded">
          <h4>Congratulations!</h4>
          <hr>
          <button class="btn btn-dark" (click)="onRestart()">Play New Game</button>
        </div>
      </div>
    </div>
  </div>
</div>
