<!--I started to implement some kind of formControl to handle select, -->
<!--but needed more time to finish, game runs at /game -->
<form class="form-inline" [formGroup]="gameForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-2">
    <label for="deckSize" class="sr-only">Deck size</label>
    <input type="text" readonly class="form-control-plaintext" id="deckSize" value="Deck size: ">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="numOfCards" class="sr-only">Number of Cards</label>
    <select formControlName="numOfCards" id="numOfCards" class="form-control"
            >
      <option selected>12</option>
    </select>
  </div>
  <button type="submit" class="btn btn-dark mb-2">Start New Game</button>
</form>
